<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adminDashboard</title>
    <link rel="stylesheet" href="/login.css">
</head>

<body>

    <div class="wrapper">
        <h1>Welcome admin</h1>
        <a href="/admin/userManagement"> <button class="btn" type="submit">User Management</button></a>
        <a href="/admin/categoryManagement"> <button class="btn" type="submit">Category Management</button></a>
        <a href="/admin/product"> <button class="btn" type="submit">Product Management</button></a>
    </div>
</body>

</html>